@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');


:root{
    --cor-primaria: #c5c7cb;
    --cor-background:#9a312e; 
    --cor-texto:#ffffff;
    --fonte-texto:"Hind Siliguri", system-ui;
    --fonte-titulo:"Marcellus", serif; 
    --fonte-subtitulo:"Fira Sans", sans-serif;
}

body{
    background-color: var(--cor-background);
    font-family: var(--fonte-texto);
    color: var(--cor-texto);
}

h1{
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    text-align: center;
}

.banner-principal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: auto;
}

.banner-principal__imagem {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner-principal__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    /* background-color: rgba(0, 0, 0, 0.5); Fundo semi-transparente para contraste */
    max-width: 50%; /* Limita o conteúdo à metade direita */
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.banner-principal__titulo {
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    margin: 0;
}

.banner-principal__descrição {
    font-family: var(--fonte-subtitulo);
    font-size: 1.2rem;
    margin: 10px 0 0;
}

.jogosfavoritos_erica{
    display: block;
    background-color: #be2999;
    width: 100%;
}
.jogosfavoritos_erica-imagem{
    width: 25%;
    position: absolute;
}

 /* Estilo para a seção de vídeos */
 #youtube-videos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.video-container {
    width: 560px;
    max-width: 100%;
    height: 315px;
    margin-bottom: 20px;
}

.youtube-videos__descricao , .twitch__descricao{
    text-align: center;
    padding: 1rem;
}

.twitch-embed {
    position: relative;
    padding-bottom: 56.25%; /* Proporção 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.twitch-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
