@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');


:root{
    --cor-primaria: #c5c7cb;
    --cor-background:#9a312e; 
    --cor-texto:#ffffff;
    --fonte-texto:"Hind Siliguri", system-ui;
    --fonte-titulo:  font-family: "Marcellus", serif;
    --fonte-subtitulo:font-family: "Fira Sans", sans-serif;
}

body{
    background-color: var(--cor-background);
    font-family: var(--fonte-texto);
    color: var(--cor-texto);
}

.cabecalho{
    display: flex;
}

.cabecalho__imagem{
    width: 100%;
    position: absolute;

}


/* deve ser metade do banner, mas responsivo */
.cabecalho__titulo{
    font-family: var(--fonte-titulo);
    position: relative;
    top:50px;
}

.jogosfavoritos_erica{
    display: block;
    background-color: #be2999;
    width: 100%;
}
.jogosfavoritos_erica-imagem{
    width: 25%;
    position: absolute;
}